body {
  background-image: url("../images/page_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/*
h1, h2, h3, h4, h5, h6, .brand-logo, .navi {
  font-family: 'Lora', serif;
}*/

.main-content {
  opacity: 0;
  transition-duration: 1s;
}

.opening {
  opacity: 1;
  transition-duration: 1s;
  position: absolute;
  right: 10%;
  top: 25%;
}

.nav-wrapper {
  padding-left: 25px;
  background-color: forestGreen;
}

/*Mobile CSS*/
@media only screen and (max-width: 768px) {
  #about-me-pic {
    width: 150px;
    height: auto;
  };
}

@media only screen and (max-width: 1120px) {
  .opening h1, .opening h5 {
    color: white;
    text-shadow: 3px 3px black;
  }
}

#about-me-pic {
  max-height: 400px;
  float: left;
  margin-right: 10px;
}

.about p {
  text-indent: 15px;
  font-size: 1.2rem;
  line-height: 2rem;
}

.about {
  min-height: 600px;
}

.display {
  background-color: white;
}

.portfolio-img {
  max-width: 100%;
}

.display a {
  text-decoration: none;
  color: inherit;
  transition-duration: .5s;
}

.display a:hover {
  color: gray;
}

.close-btn {
  margin: auto;
}

.contact-icon {
  width: 100px;
  padding-left: 10px;
  padding-right: 10px;
}
