body {
  background-image: url("../images/page_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.nav-wrapper {
  padding-left: 25px;
  background-color: forestGreen;
}

/*Mobile CSS*/
@media only screen and (max-width: 768px) {
  #about-me-pic {
    width: 150px;
    height: auto;
  };
}

#about-me-pic {
  max-height: 400px;
  float: left;
  margin-right: 10px;
}

.about p {
  text-indent: 15px;
  font-size: 1.2rem;
  line-height: 2rem;
}

.about {
  min-height: 600px;
}

.display {
  background-color: white;
}

.portfolio-img {
  max-width: 100%;
}

.display a {
  text-decoration: none;
  color: inherit;
  transition-duration: .5s;
}

.display a:hover {
  color: gray;
}

.close-btn {
  margin: auto;
}
